In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [3]:
dataset = pd.read_csv('sales_data_sample.csv')
dataset.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [4]:
sales = dataset.drop(['ORDERLINENUMBER','ORDERNUMBER','ORDERDATE','STATUS','QTR_ID','MONTH_ID','YEAR_ID','ADDRESSLINE1',
                      'ADDRESSLINE2','CITY','STATE','POSTALCODE','COUNTRY','CONTACTLASTNAME','TERRITORY','MSRP','PRODUCTCODE',
                      'CONTACTFIRSTNAME','PHONE','CUSTOMERNAME'], axis = 1)
sales

      QUANTITYORDERED  PRICEEACH    SALES  PRODUCTLINE DEALSIZE
0                  30      95.70  2871.00  Motorcycles    Small
1                  34      81.35  2765.90  Motorcycles    Small
2                  41      94.74  3884.34  Motorcycles   Medium
3                  45      83.26  3746.70  Motorcycles   Medium
4                  49     100.00  5205.27  Motorcycles   Medium
...               ...        ...      ...          ...      ...
2818               20     100.00  2244.40        Ships    Small
2819               29     100.00  3978.51        Ships   Medium
2820               43     100.00  5417.57        Ships   Medium
2821               34      62.24  2116.16        Ships    Small
2822               47      65.52  3079.44        Ships   Medium

[2823 rows x 5 columns]

In [5]:
x = sales.iloc[:, [0, 1, 2]].values
y = sales.iloc[:, -1].values

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x[:,0] = le.fit_transform(x[:,0])

In [7]:
x

array([[  19.  ,   95.7 , 2871.  ],
       [  23.  ,   81.35, 2765.9 ],
       [  30.  ,   94.74, 3884.34],
       ...,
       [  32.  ,  100.  , 5417.57],
       [  23.  ,   62.24, 2116.16],
       [  36.  ,   65.52, 3079.44]])

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [10]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train, y_train)

GaussianNB()

In [15]:
y_pred  =  classifier.predict(x_test)

In [12]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
ac = accuracy_score(y_test,y_pred)

In [13]:
ac

0.8991150442477877

In [14]:
cm

array([[ 30,   2,   0],
       [ 32, 228,   8],
       [  0,  15, 250]], dtype=int64)