In [90]:
import pandas as pd
from numpy import array
from numpy import mean
from numpy import cov
from numpy.linalg import eig

In [91]:
lw = pd.read_csv('london_weather.csv') 
lw

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [92]:
lw.dtypes

date                  int64
cloud_cover         float64
sunshine            float64
global_radiation    float64
max_temp            float64
mean_temp           float64
min_temp            float64
precipitation       float64
pressure            float64
snow_depth          float64
dtype: object

In [93]:
lw.dropna()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
14970,20191227,8.0,0.0,12.0,9.6,7.5,6.6,0.0,102880.0,0.0
14971,20191228,8.0,0.0,12.0,9.9,8.1,6.6,0.0,103630.0,0.0
14972,20191229,6.0,2.2,29.0,11.5,8.7,7.4,0.0,103360.0,0.0
14973,20191230,0.0,3.6,37.0,9.3,6.5,1.5,0.0,102970.0,0.0
14974,20191231,7.0,0.0,13.0,9.4,7.1,4.9,0.0,103160.0,0.0

In [94]:
lw = lw[(lw != 0).all(1)]

In [95]:
lw = lw.drop(['date','cloud_cover','global_radiation','pressure','snow_depth','mean_temp','precipitation',], axis = 1)
lw_final = lw.head(30)
lw_final

      sunshine  max_temp  min_temp
0          7.0       2.3      -7.5
5          3.8       8.3      -6.6
23         4.8       5.6      -5.6
25         2.6       1.6      -1.1
42         0.1       8.1       0.3
75         4.3       9.1       0.1
1072       2.4       1.6      -0.4
1078       3.0       4.0      -4.2
1502       0.7       4.1      -1.5
2197       1.4      -1.7      -5.1
2206       2.7      -4.0      -3.3
2933       7.1      -3.3      -8.9
2934       0.4      -1.4      -9.1
2984       0.1       8.6      -3.5
4423       0.4       2.3      -8.9
4425       1.1       3.0      -5.8
4427       6.4       9.1      -5.6
6260       5.4       5.9      -1.9
6261       0.4       8.6      -4.6
6570       0.5       1.8      -3.1
8774       6.8       5.1      -1.1
8775       1.1       3.9       0.4
8796       6.0       8.1      -2.2
8797       3.5       8.8      -1.6
9549       3.9       4.9       0.5
9552       0.9       3.3      -0.7
9559       1.7       8.0      -4.8
9808       1.7      16.6      10.6
9948       5.1      14.4       7.8
9993       8.9      24.2      10.0

In [96]:
M = mean(lw.T, axis=1)
print(M)

sunshine     3.666559
max_temp    17.809919
min_temp    10.341424
dtype: float64

In [97]:
C =lw - M
print(C)

       sunshine   max_temp   min_temp
0      3.333441 -15.509919 -17.841424
5      0.133441  -9.509919 -16.941424
23     1.133441 -12.209919 -15.941424
25    -1.066559 -16.209919 -11.441424
42    -3.566559  -9.709919 -10.041424
...         ...        ...        ...
15329 -0.366559  -7.209919  -3.641424
15330  0.233441  -3.909919  -5.241424
15335 -1.566559  -7.809919 -10.441424
15336 -2.766559 -10.309919  -2.741424
15337  0.033441 -14.209919 -11.641424

[619 rows x 3 columns]

In [98]:
V = cov(C.T)
print(V)

[[9.1968896       nan       nan]
 [      nan       nan       nan]
 [      nan       nan       nan]]